:root {
	--white: #fff;
	--red: #ef2530;
	--black: #141414;
	--gray: #666;
	--light-gray: #999;
	--green: #4bd680;
	--light-green: #8de6af;
}
*,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial;
}
h1 {
	font-family: Arial Black;
	font-size: 4rem;
}
h1,
small {
	color: var(--white) !important;
}
blockquote {
	margin-top: 2rem;
	border-color: var(--white);
	text-align: left !important;
	background-color: var(--black);
}
blockquote footer {
	margin-top: 0.5rem;
	color: var(--white);
}
.light,
lead,
#faq-section h3 {
	font-family: Arial Black !important;
	color: var(--white);
}
#faq-section h3 {
	margin-top: 8rem;
	margin-bottom: 2rem;
}
blockquote lead {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}
.sub-icon {
	width: 16rem;
}
body {
	/* background: linear-gradient(45deg, rgba(20,20,20,0.25) 0%, rgba(19,152,71,0.25) 35%, rgba(119,238,165,0.25) 100%); */
	background-color: var(--black);
	color: var(--light-green);
	font-family: Bookman;
	text-align: center;
	margin: 2rem;
}
#cover {
	display: block;
	margin: 0 auto;
	width: 25vw;
	border-radius: 1vw;
	cursor: pointer;
	box-shadow: 6px 6px 0px var(--gray);
}
#cover:hover {
	box-shadow: 6px 6px 0px var(--light-gray);
}
hr {
	border: 1px solid var(--green);
	background-color: var(--green);
}
::selection {
	background-color: var(--gray);
}
::-moz-selection {
	background-color: var(--gray);
}
a {
	font-family: Arial Black;
	color: var(--white);
	padding: 0.25rem;
	text-decoration: none;
}
a:hover:not(a .sub-icon),
a:active,
a:focus {
	color: var(--white);
	text-decoration: underline;
}
blockquote a:hover {
	background-color: transparent;
	text-decoration: underline;
}
footer a {
	margin-right: 1.5rem;
}
img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
}

/*sharethis*/
.st-btn {
	background-color: var(--green) !important;
}
.st-total {
	color: var(--green) !important;
}

/*sub icon*/
.sub-icon {
	transition: all 0.2s ease-in-out;
	border-radius: 25%;
}
.sub-icon:hover {
	transform: scale(1.1);
}
